useDynLib(cggmisc)
importFrom(stabledist, dstable)
export(
    fit.mle.t,
    asy.var.t,
    info.exp.t,
    likelihood.t,
    score.t,
    qqmathFitted,
    panel.qqmath.fitted,
    #panel.qqmath.fitted.main,
    #panel.qqmath.fitted.envelope,
    prepanel.qqmath.fitted,
	"%like%",
	dlevy,
	plevy,
	qlevy,
	rlevy,
	is.zero,
	splus.colors,
	splus.theme,
	fftn,
	mccullochquantile,
	likelihood.stable,
	fit.mle.stable,
	memsize,
	anyMissing,
	which.na,
	polish
)
